@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ededed;
  --menuActive: "#e4cb52";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-shadow {
  -webkit-box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 17px -6px rgba(0, 0, 0, 1);
}

.active {
  color: #b0971b;
}

.content-text {
  margin-top: 20px;
  letter-spacing: 0.03em;
  line-height: 1.75;
}

.content-text > p {
  margin-top: 0.5em;
}

.sticy-sidebar {
  left: 0;
  top: 0;
}

.non-sticky {
  position: relative;
}
.skill-container {
  width: 100px;
  padding-top: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  border: 5px solid var(--background);
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
  box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
    inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.15);
}

body::-webkit-scrollbar-button {
  height: 60px;
}

.experience {
  position: relative;
  z-index: 2;
}

/* .company-timeline::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 90%;
  left: 25px;
  top: 25px;
  z-index: -1;
  background-color: #b0971b;
} */

.description {
  position: relative;
}

.description {
  margin: 20px 0;
}

.timeline::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: -39px;
  top: 6px;
  z-index: -1;
  background-color: #b0971b;
}

.timeline::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: -44px;
  top: 5px;
  z-index: 1;
  border-radius: 50%;
  background-color: #b0971b;
  border: 1px solid var(--foreground);
}

.linkedin:hover path:first-child {
  fill: #0e76a8;
}

.facebook:hover path:first-child {
  fill: #3b5998;
}

.github {
  fill: #64748b;
  /* stroke: #000000; */
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-rule: evenodd;
}

.github:hover path {
  fill: white;
}
